[flake8]
ignore =
    # E203: need to ignore this since `black` auto-formatting will
    #       automatically put a space before ':' when using slices
    E203,
    # W503: need to ignore this since `black` auto-formatting will do
    #       this automatically
    W503,

#
max_line_length = 99
#
per-file-ignores =
    cbexplorer/__init__.py: F401,
    cbexplorer/load/__init__.py: F401,
    cbexplorer/locate/__init__.py: F401,
    cbexplorer/types/__init__.py: F401,
